Using f-strings and non-print characters

In [ ]:
first_name = "ada"
last_name  = "lovelace"
full_name  = f"{first_name} {last_name}"

print(f"\n\tHello, {full_name.title()}")

Stripping WhiteSpace

In [ ]:
favorite_language = 'python '
favorite_language

In [ ]:
favorite_language.rstrip()

Removing Prefixes

In [ ]:
nostarch_url = 'https://nostarch.com'
print(f"\n {nostarch_url.removeprefix('https://')}")

Famous Quote

In [ ]:
first_name = "Conor"
last_name  = "Einstein"
adjective  = "said"
statement  = "I ejaculated on the playa"

print(f"{first_name} {last_name} once {adjective}: '{statement}'")

In [ ]:
print(9-1)
print(5+3)

In [ ]:
import this

Lists

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(bicycles[0])
print(bicycles[0].title())
print(bicycles[-1])

message = f"\nMy first bicycle was a {bicycles[1].title()}."
print(message)

In [ ]:
names = ["Conor", "Britt", "Austin", "Meetra"]
print(f"{names[0]} \n{names[2]} \n{names[1]}")
print(f"{names[0]}, {names[3]}, {names[2]}")

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

#change first element
motorcycles[0] = 'ducati'
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

In [ ]:
motorcycles = [] # start with an empty list

# then add values
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

Inserting, deleting ...

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.insert(2, 'ducati')
print(motorcycles)

del motorcycles[1]
print(motorcycles)

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop(1)
print(f"The last motorcycle I owned was a {last_owned.title()}.")

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']

too_expensive = 'ducati'
motorcycles.remove(too_expensive)

print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)
cars.sort(reverse=True)
print(cars)

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

cars.reverse()
print(f"\n{cars}")

len(cars)

for loops

In [ ]:
magicians = ['alice', 'david', 'carolina']
for item in magicians:
    print(item)

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you, everyone. That was a great magic show!")

In [ ]:
for value in range(1, 6): # off-by one important!
    print(value)

In [91]:
numbers = list(range(1, 6))
print(numbers)

even_numbers = list(range(2, 11, 2))
print(even_numbers)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [92]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List comprehension combines for loop and append into one line

In [93]:
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [98]:
milli = range(1, 1_000_001)
print(max(milli))
print(min(milli))
print(sum(milli))

1000000
1
500000500000